LetsGoBikingClientC#/LetsGoBikingClientC#/Connected Services/RoutingServiceReference/RoutingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/RoutingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LetsGoBikingLibrary2.Models" />
  <xs:element name="GetPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LetsGoBikingLibrary2.Models" minOccurs="0" name="GetPositionResult" nillable="true" type="q1:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosestContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLatitude" type="xs:double" />
        <xs:element minOccurs="0" name="userLongitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosestContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClosestContractResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosestStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLatitude" type="xs:double" />
        <xs:element minOccurs="0" name="userLongitude" type="xs:double" />
        <xs:element minOccurs="0" name="numberOfStations" type="xs:int" />
        <xs:element minOccurs="0" name="closestContract" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosestStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LetsGoBikingLibrary2.Models" minOccurs="0" name="GetClosestStationsResult" nillable="true" type="q2:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startLat" type="xs:double" />
        <xs:element minOccurs="0" name="startLon" type="xs:double" />
        <xs:element minOccurs="0" name="endLat" type="xs:double" />
        <xs:element minOccurs="0" name="endLon" type="xs:double" />
        <xs:element minOccurs="0" name="typeRoute" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LetsGoBikingLibrary2.Models" minOccurs="0" name="GetRouteResult" nillable="true" type="q3:RouteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LetsGoBikingLibrary2.Models" minOccurs="0" name="GetCompleteRouteResult" nillable="true" type="q4:CompleteRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteRouteFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteRouteFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LetsGoBikingLibrary2.Models" minOccurs="0" name="GetCompleteRouteFromIdResult" nillable="true" type="q5:CompleteRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>