LetsGoBikingClientC#/LetsGoBikingClientC#/Connected Services/RoutingServiceReference/RoutingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LetsGoBikingServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LetsGoBikingServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/RoutingService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="RouteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Features" nillable="true" type="tns:ArrayOfFeature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteResponse" nillable="true" type="tns:RouteResponse" />
  <xs:complexType name="ArrayOfFeature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feature" nillable="true" type="tns:Feature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeature" nillable="true" type="tns:ArrayOfFeature" />
  <xs:complexType name="Feature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:Properties" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feature" nillable="true" type="tns:Feature" />
  <xs:complexType name="Properties">
    <xs:sequence>
      <xs:element minOccurs="0" name="Segments" nillable="true" type="tns:ArrayOfSegment" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="tns:Summary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Properties" nillable="true" type="tns:Properties" />
  <xs:complexType name="ArrayOfSegment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" nillable="true" type="tns:Segment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegment" nillable="true" type="tns:ArrayOfSegment" />
  <xs:complexType name="Segment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element minOccurs="0" name="Steps" nillable="true" type="tns:ArrayOfStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Segment" nillable="true" type="tns:Segment" />
  <xs:complexType name="ArrayOfStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Step" nillable="true" type="tns:Step" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStep" nillable="true" type="tns:ArrayOfStep" />
  <xs:complexType name="Step">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element minOccurs="0" name="Instruction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WayPoints" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Step" nillable="true" type="tns:Step" />
  <xs:complexType name="Summary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summary" nillable="true" type="tns:Summary" />
  <xs:complexType name="CompleteRoute">
    <xs:sequence>
      <xs:element minOccurs="0" name="BikeRoute" nillable="true" type="tns:RouteResponse" />
      <xs:element minOccurs="0" name="WalkToEnd" nillable="true" type="tns:RouteResponse" />
      <xs:element minOccurs="0" name="WalkToStartStation" nillable="true" type="tns:RouteResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompleteRoute" nillable="true" type="tns:CompleteRoute" />
</xs:schema>