LetsGoBikingClientC#/LetsGoBikingClientC#/Connected Services/RoutingServiceReference/RoutingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/RoutingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LetsGoBikingServer.Models" />
  <xs:element name="GetPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LetsGoBikingServer.Models" minOccurs="0" name="GetPositionResult" nillable="true" type="q1:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LetsGoBikingServer.Models" minOccurs="0" name="start" nillable="true" type="q2:Position" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LetsGoBikingServer.Models" minOccurs="0" name="arrival" nillable="true" type="q3:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateDistanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>