LetsGoBikingClientC#/LetsGoBikingClientC#/Connected Services/RoutingServiceReference/RoutingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/RoutingService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/RoutingService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/RoutingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LetsGoBikingLibrary2.Models" />
      <xsd:import schemaLocation="http://localhost:8001/RoutingService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoutingService_GetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosition" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetClosestContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClosestContract" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetClosestContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClosestContractResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetClosestStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClosestStations" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetClosestStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClosestStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetCompleteRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleteRoute" />
  </wsdl:message>
  <wsdl:message name="IRoutingService_GetCompleteRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleteRouteResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoutingService">
    <wsdl:operation name="GetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingService/GetPosition" message="tns:IRoutingService_GetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingService/GetPositionResponse" message="tns:IRoutingService_GetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClosestContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingService/GetClosestContract" message="tns:IRoutingService_GetClosestContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingService/GetClosestContractResponse" message="tns:IRoutingService_GetClosestContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClosestStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingService/GetClosestStations" message="tns:IRoutingService_GetClosestStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingService/GetClosestStationsResponse" message="tns:IRoutingService_GetClosestStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingService/GetRoute" message="tns:IRoutingService_GetRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingService/GetRouteResponse" message="tns:IRoutingService_GetRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompleteRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingService/GetCompleteRoute" message="tns:IRoutingService_GetCompleteRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingService/GetCompleteRouteResponse" message="tns:IRoutingService_GetCompleteRoute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoutingService" type="tns:IRoutingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPosition">
      <soap:operation soapAction="http://tempuri.org/IRoutingService/GetPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClosestContract">
      <soap:operation soapAction="http://tempuri.org/IRoutingService/GetClosestContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClosestStations">
      <soap:operation soapAction="http://tempuri.org/IRoutingService/GetClosestStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <soap:operation soapAction="http://tempuri.org/IRoutingService/GetRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompleteRoute">
      <soap:operation soapAction="http://tempuri.org/IRoutingService/GetCompleteRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="BasicHttpBinding_IRoutingService" binding="tns:BasicHttpBinding_IRoutingService">
      <soap:address location="http://localhost:8001/RoutingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>