LetsGoBikingClientC#/LetsGoBikingClientC#/Connected Services/RoutingServiceReference/RoutingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LetsGoBikingServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LetsGoBikingServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
</xs:schema>